html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-size: 100%;
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

blockquote {
    margin-left: 40px;
    margin-right: 40px;
    background-color: #ddd;
    padding: 2em;
}

.navbar-dark {
    background-color:#101010;
    border-bottom: 2px solid #ff8400;
    box-shadow: 0px 0px 14px #101010;
    color: #fff;
    padding: 15px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand {
    display: flex;
    margin: 0;
}

.nav-spacing {
  margin-right: 2em;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ff8400;
}

.title h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.title .demoday {
    font-size: 11px;
    letter-spacing: 6px;
    padding-left: 3px;
    text-transform: uppercase;
}

/* #jumbheader{
    box-shadow: 2px 2px 2px rgb(167, 166, 166);
    background-color: #101010!important;
    padding: 15px 0px;
} */

.container {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 900px;
}

.container .row {
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    margin: 0;
    padding: 10px 20px;
}

.container #thanks {
    font-size: 20px;
    padding: 20px 30px;
}

.section-title {
    background-color: #101010;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
}

.section-title h2 {
    color: #fff;
    margin-bottom: 0px;
}

.header-text{
    margin: 0 auto;
    padding: 10px 0px;
    color: white;
}

.title-font {
    text-align: center;
    vertical-align: middle;
}

h2.title-font {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
}

.subtitle {
    box-shadow: 2px 2px 2px rgb(167, 166, 166);
    background-color: #101010!important;
    padding: 15px 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
}

.subtitle a {
    color: #fff;
}

.subtitle a:hover {
    color: #ff8400;
    text-decoration: none;
}

.logo {
    height: 65px;
}

.jumbotron.jumbotron-fluid{
    background: none;
   }
.jumbotron.jumbotron-fluid img{
    background: none;
    width:100%;
    margin-top: -80px;
   }

main {
    margin-bottom: 20px;
    margin-top: -30px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

.row {
    justify-content: space-evenly;
}

.navbar-collapse{
    justify-content: flex-end;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.offset {
    position: relative;
    top: -100px;
    display: block;
  }


#developers {
    margin: 0 auto;
    max-width: 1000px;
}

.cohortMems {
    margin: 10px 0px 40px 0px;
}

.profile-picture  {
    border-radius: 15px;
    margin: 0 auto;
    width: 300px;
    box-shadow: 1px 0px 14px 1px #ccc;
}

.profile-picture img {
    border-radius: 15px;
}

.student-name {
    font-size: 30px;
    padding-top: 15px;
    text-align: center;
}

.studentContact {
    display: flex;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    margin: 0 auto;
    width: 250px;
}

.contactIcons {
    color: #ff8200;
    font-size: 36px;
}
.contactIcons:hover {
    color: #000;
}

.modal-body .studentContact {
    margin: 0px;
    width: 210px;
}

.card-body {
    padding: 0px;
}

.techs {
    width: 70px;
    margin: 20px;
  }

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

.card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.col,
[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.modal-body{
    display: flex;
    justify-content: space-between;
  }


/* .modal-body img{
    width: 200px;
    height: auto;
    box-shadow: 3px 3px 5px #cacaca;
    border-radius: 10px;
} */

.modal-body img {
    width: 300px;
    max-width: 100%;
}

.backButton{
    margin-bottom: 1.5rem;
}

.footer{
    margin-top:10px;
    font-size: 1em;
    background-color: #101010!important;
    color: white;
    padding: 20px 0px;
    text-align: center;
}

button{
    cursor: pointer;
}
.btn-outline-primary{
    color: #238193!important;
    border-color: #ff8200!important;
}

.btn-outline-primary:hover{
    color: white!important;
    background-color: #ff8200!important;
}


@media (min-width: 768px) {
    .title {
        padding-left: 20px;
    }
    .subtitle {
        font-size: 28px;
    }
    .profile-picture  {
        width: 200px;
    }
    .student-name {
        font-size: 24px;
    }
    .studentContact {
        width: 150px;
    }
    .contactIcons{
        font-size: 20px;
    }
    .modal-body .studentContact .contactIcons {
        font-size: 30px;
    }
    .container #thanks {
        font-size: 14px;
    }
}


@media (max-width: 900px) {

    .jumbotron.jumbotron-fluid img{
        background: white;
        margin-top:30px;
       }
       .jumbotron.jumbotron-fluid.sm-width{
        width: 100%;
    }
       .header-text{
        margin: 0 auto;
       }
       .header-text h2{
        font-size: 1.5em;
       }
       .modal-body{
        display: block;
      }
      .modal-content {
        width: 100%;
    }
       .modal-body img{
        width: 100%;
      }
      main {
        margin-bottom: 100px;
        margin-top: -50px;
        width: 100%
      }
      .navbar-brand img{
        padding-right: none;
      }

}

.profile-picture {
    position: relative;
  }
  .ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
  }